<article class="post">

  <div class="post-title title text-center">
    <a href ="/post/{{id}}">{{title}}</a>
   
  </div>
  <div class="meta text-center likes">
    posted by {{user.username}} on {{format_date created_at}}
    <br/>
    {{likes_count}} {{format_plural "like" likes_count}}
    <br/>
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>