<article class="post">
  <div class="title">
    <h3>{{title}}</h3>
    <p>{{post_text}}</p>
  </div>
  <div class="meta">
    {{like_count}} {{format_plural "point" like_count}} by {{user.username}} on {{format_date created_at}}
    {{!-- WE DONT NEED THE FORMAT DATE OR CREATED AT RIGHT --}}

    |
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>