<article class="post flex">
  <div class="title text-center">
    <h3 href ="/post/{{id}}">{{title}}</h3>
  </div>
  <div class="title text-center">
    <p>{{post_text}}</p>
  </div>
  <div class="meta text-center">
    posted by {{user.username}} on {{format_date created_at}}
    <br/>
    {{likes_count}} {{format_plural "like" likes_count}}
    <br/>
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>