<article class="post ">
  <a href="/dashboard"> &larr; Back to dashboard</a>
  <div>
    <div class="title pt-3">
        <div class="has-black-text">{{title}}</div>
        <p class="pt-4 title-content">{{post_text}}</p>
      </div>
      <div class="meta">
        {{likes_count}} {{format_plural "like" likes_count}} by {{user.username}} on {{format_date created_at}}
      

        |
        <span class= "has-text-black">{{comments.length}} {{format_plural "comment" comments.length}}</span>
      </div>
      {{> comments post.comments}}
  </div>

  
</article>